@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-purple-600: #7A69D1;
  --color-purple-500: #A594F9;
  --color-purple-400: #CDC1FF;
  --color-purple-300: #D1C6FF;
  --color-purple-200: #E6D8FF;
  --color-purple-100: #E5D9F2;
  --color-purple-50: #F5EFFF;

  --color-slate-800: #15192D;
  --color-slate-700: #313131;
  --color-slate-600: #414141;
  --color-slate-500: #525252;
  --color-slate-400: #636363;
  --color-slate-100: #9E9E9E;

  --color-background: #220e28;
  --color-layer: rgba(122, 105, 209, 0.5);

  --color-success-600: #5B6E54;
  --color-success-500: #869A7E;
  --color-success-100: #DDF3D6;

  --color-warning-600: #70511B;
  --color-warning-500: #BAAA7B;
  --color-warning-100: #F8F5C4;

  --color-error-600: #A23B37;
  --color-error-500: #C07069;
  --color-error-100: #EEC7C5;

  --color-info-600: #37729B;
  --color-info-500: #789BB9;
  --color-info-100: #CDE8F6;

  --color-border: #C4C4C4;

  --animate-spin-slow: spin 3s linear infinite;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #414141;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-purple-400, #A594F9);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple-600, #7A69D1);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-purple-400, #A594F9) #f1f1f1;
}